# HTTP SERVER
HOST=localhost
PORT=3000
NODE_ENV=development

# POSTGRES
PGHOST=localhost
PGUSER=
PGDATABASE=forumapi
PGPASSWORD=
PGPORT=5432

# TOKENIZE
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_AGE=